<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lastshot.vrumvrumdemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VrumVrumDemo">
        <!-- Set your credentials for the HERE SDK. -->
        <meta-data
            android:name="com.here.sdk.access_key_id"
            android:value="D5fuaw-lA9H3J2XZpReVNw" />
        <meta-data
            android:name="com.here.sdk.access_key_secret"
            android:value="9jy_mCn2BeoJ4m_V0imrBS1S0w14-4mUuMYTS5s-VfaqdbglxHL87e--Z2mLf5_PyHGYzZa63G_pESelm_5MkQ" />

        <activity
            android:name=".SearchActivity"
            android:exported="true" />
        <activity
            android:name=".AddCarActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>